
body{
  
    /* background-image: url("../pictures/background.gif"); */
    background-image: url("../pictures/welcome.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#homeLogo{height: 400px;}
header{height: 520px;}

  #onButtons {
    position: fixed;
    top: 60%;
    left: 8%;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    height: 40%;
    padding: 5%;

  }
  #logoAndInstuctions{
    display: flex;
    flex-direction: row;
  }
  #instructions{
    margin-top: 20px; 
    margin-left: 10%; 
    background-color: black;
    color: white;
    border: 4px solid red;
    border-radius: 14%;
    height: fit-content;
    margin-right: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    direction: rtl;
    text-align: center;
    /* font-size: 17px; */
    animation-duration: 1.5s;
    animation-name: instructionCome;
  }

  p{font-size: 20px;}
  /* #start{
    margin-top: 100px;
    margin-left: 40%;
    background-color: black;
    color: white;
    border: 4px solid red;
    border-radius: 14%;
    width: fit-content;
    margin-right: 30%;
    padding: 10px;
    direction: rtl;
    text-align: center;
    animation-duration: 1.5s;
    animation-name: instructionCome;
  } */

  @keyframes instructionCome {
    0% {
      margin-right: -35%;
    }
    100% {
      margin-right: 30%;
    }
  }
  .hidden,
.hidden * {
  display: none;
}

#onButtons img {
    padding: 10px;
    width: 230px;
    height: 230px;

  }
  #onButtons img:hover{animation: iconsmove 1s;}

  @keyframes iconsmove{
    0%{transform: scale(1)}
    100%{transform: scale(0.9)}
}  

.ifwinornot{
  display: flex;
  height: 400px;
}